*.hcl
*.info
*.pem
Practice1 - Make Resources/.terraform
Practice2 - Use Variable/.terraform
Practice3 - Functions/.terraform
Practice4 - Use Module/.terraform
Practice5 - Use Terraform Cloud/.terraform

Practice1 - Make Resources/key
*.tfstate
*.backup
Practice2 - Use Variable/vars.tfvars
Practice4 - Use Module/variable.tfvars